doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="../style.css") 
        title Document
    body
    header.header
        .contenir.header__contenir
            .radius
                .text Welcome Back!
                    .text2 Enter your personal account to enter the <xmp style="font-family:sans-serif;">                   website apps </xmp>
                        button.button SIGN IN

            .text3 Create Account
                .contenir2
                    .ramka
                    .ramka 
                    .ramka
                .text4 or use your email for registration
                .contenir3
                    .rig
                        .text5 Name
                    .rig
                        .text5 Email
                    .rig
                        .text5 Password
                button.button2 SIGN UP